<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/main.css" rel="stylesheet" type="text/css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<meta charset="ISO-8859-1">
<title th:utext="#{header.title}"></title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">

		<a class="navbar-brand" href="/admin/main"> <img
			src="/imgs/header.jpg" width="400" height="128" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav menu-nav">

				<li class="nav-item active l1"><a class="nav-link" href="/main"
					th:utext="#{header.menu.main}"> <span class="sr-only">(current)</span>
				</a></li>


				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
					th:utext="#{header.menu.catalog}"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#" th:utext="#{header.menu.tea}"></a>
						<a class="dropdown-item" href="/allDish"
							th:utext="#{header.menu.dish}"></a>
					</div></li>


				<li sec:authorize="isAnonymous()" class="nav-item active l1"><a
					class="nav-link" href="/signup" th:utext="#{header.menu.regist}"><span
						class="sr-only">(current)</span> </a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" href="#" th:href="@{/admin/main}"
					th:utext="#{header.menu.admin}"></a></li>

				<li class="nav-item active l1"><a class="nav-link"
					href="/aboutUs" th:utext="#{header.menu.aboutUs}"><span
						class="sr-only">(current)</span> </a></li>

			</ul>
			<form class="nav-item active l1" form-method="post"
				th:action="@{/logout}">
				<button sec:authorize="isAuthenticated()" type="submit"
					class="btn btn-secondary" th:utext="#{header.menu.logout}"></button>
				<button sec:authorize="isAnonymous()" th:href="@{~/login}"
					type="submit" class="btn btn-secondary">Login</button>
			</form>
		</div>
		<div style="text-align: right; padding: 5px; margin: 5px 0px;">
			<a th:href="@{?lang=en}"> <img alt="" src="/imgs/usa1.jpg"
				style="width: 37px; height: 37px;"></a><a th:href="@{?lang=uk}"><img
				alt="" src="/imgs/ukr1.jpg" style="width: 40px; height: 40px;"></a>
		</div>
	</nav>
	<div class="container">


		<table class="table my-5">
			<thead>
				<tr>
					<th scope="col" th:utext="#{admin.allProducts.id}"></th>
					<th scope="col" th:utext="#{admin.allProducts.img}"></th>
					<th scope="col" th:utext="#{admin.allProducts.name}"></th>
					<th scope="col" th:utext="#{admin.allProducts.description}"></th>
					<th scope="col" th:utext="#{admin.allProducts.price}"></th>
					<th scope="col" th:utext="#{admin.allProducts.unit}"></th>
					<th scope="col" th:utext="#{admin.allProducts.action}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<th scope="row" th:text="${product.productId}"></th>
					<td><img th:src="${product.image}" width="300px"></td>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productDescription}"></td>
					<td th:text="${product.productPrice}"></td>
					<td th:text="${product.productUnit}"></td>
					<td><a href="#"
						th:href="@{'/admin/editProduct/'+ ${product.productId}}"
						th:utext="#{admin.allProducts.buttom.edit}"></a> /<a href="#"
						th:href="@{'/admin/deleteProduct/'+ ${product.productId}}"
						th:utext="#{admin.allProducts.buttom.delete}"></a></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>