<!DOCTYPE html>
<
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">

		<a class="navbar-brand" href="/main"> <img src="/imgs/header.jpg"
			width="400" height="128" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav menu-nav">

				<li class="nav-item active l1"><a class="nav-link" href="/main">
						Main<span class="sr-only">(current)</span>
				</a></li>


				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Catalog </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Tea</a> <a class="dropdown-item"
							href="/allDish">Dish</a>
					</div></li>


				<li sec:authorize="isAnonymous()" class="nav-item active l1"><a class="nav-link"
					href="/signup">Regist<span class="sr-only">(current)</span>
				</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" href="#" th:href="@{/admin/index}">Admin</a></li>

				<li class="nav-item active l1"><a sec:authorize="isAuthenticated()" class="nav-link"
					th:href="@{'~/user/check/'}">Order<span class="sr-only">(current)</span>
				</a></li>

				<li class="nav-item active l1"><a sec:authorize="isAnonymous()"
					class="nav-link" href="cart">Bucket<span class="sr-only">(current)</span></a></li>
				<li class="nav-item active l1"><a sec:authorize="isAuthenticated()"
					class="nav-link" th:href="@{'~/user/cartUser/'}">Bucket<span class="sr-only">(current)</span></a></li>
				<li class="nav-item active l1"><a class="nav-link"
					href="aboutUs">About<span class="sr-only">(current)</span>
				</a></li>

			</ul>
			<form class="nav-item active l1" form-method="post"
				th:action="@{/logout}">
				<button sec:authorize="isAuthenticated()" type="submit"
					class="btn btn-secondary">Logout</button>
				<button sec:authorize="isAnonymous()" th:href="@{~/login}"
					type="submit" class="btn btn-secondary">Login</button>
			</form>
		</div>

	</nav>
</body>
</html>