chromium-browser --disable-web-security


html {
	overflow-x: hidden!important;
}

.navbar-custom {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 4;
}

.block {
	width: 100%;
	z-index: 0;
}

.navbar-brand {
	margin: -0.5em auto -0.5em 1em;
	max-width: 400 px;
	max-height: 128 px;
	max-width: 400 px;
	z-index: 4;
}

.menu-nav {
	box-sizing: border-box;
	margin: 0em auto 0em;
	z-index: 4;
}

.l1 {
	margin: auto 20px;
}

.txt-b {
	position: absolute;
	z-index: 3;
	margin: 20% 40%;
	color: white;
	width: 40%;
}

.carousel slide {
	z-index: 2;
}

.sm {
	font-size: 22px;
}

.txt {
	font-size: 92px;
}

.header2 {
	padding-top: 135px;
	padding-bottom: 45px;
	text-align: center;
	font-size: 52px;
	line-height: 1;
	font-weight: 300;
}

.subHead2 {
	width: 60%;
	padding-top: 0px;
	padding-bottom: 90px;
	text-align: center;
	font-size: 24px;
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.svg1 {
	width: 15px;
	height: 15px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	border: 2px solid white;
	margin: 0em 1em;
}

.footer-custom {
	background-color: black !important;
}

.column {
	float: left;
	width: 50%;
	padding: 15px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

blockProduct {
	display: inline-block;
	width: 180px;
	margin: 0 10px 10px 0;
	padding: 10px 0;
}

.cont {
	display: inline-block;
	margin: auto 50px;
}

ul#display-inline-block-example, ul#display-inline-block-example li {
	/* Setting a common base */
	margin-left: 0px;
	padding: 50px;
}

ul#display-inline-block-example li {
	display: inline-block;
	width: 200px;
	min-height: 100px;
}