<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link href="/css/main.css" rel="stylesheet" type="text/css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<meta charset="ISO-8859-1">
<title>Van tea</title>
</head>
<body>
	<div class="container">
		<h1 class="display-4 my-3">Your Cart Product!</h1>
		<div class="row">
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-around"><span
					class="my-auto h6">Product Image</span> <span class="my-auto h6">Product</span>
					<span class="my-auto h6">Price</span></li>
			</ul>
			<ul class="list-group col-9" th:each="product : ${user.productList}">
				<li class="list-group-item d-flex justify-content-around"><img
					th:src="${product.image}" height="100"> <span class="my-auto"
					th:text="${product.productName}"></span> <span class="my-auto"
					th:text="'₴ '+${product.productPrice}"></span> <a href="#"
					th:href="@{'/user/check/'+ ${product.productId}}">Buy</a><a
					href="#" th:href="@{'/user/deleteProduct/'+ ${product.productId}}">Delete</a>

				</li>

			</ul>

			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-end"><span
					class="h6" th:text="'Total : ₴ '+${total}"></span></li>
				<li class="list-group-item d-flex justify-content-end"><a
					href="/allDish" type="button" class="btn btn-primary">Return to
						all products</a></li>
			</ul>
		</div>
	</div>
</body>
</html>