<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/main.css" rel="stylesheet" type="text/css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<meta charset="ISO-8859-1">
<title th:utext="#{header.title}"></title>
</head>
<body>
	<header th:insert="header.html :: nav"></header>

	

	<div class="container">
		<h1 class="display-4 my-3" th:utext="#{bucket.name}"></h1>
		<div class="row">
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-around"><span
					class="my-auto h6" style="width: 20%" th:utext="#{allProducts.image}"></span> <span class="my-auto h6"  th:utext="#{allProducts.name}"></span>
					<span class="my-auto h6"  style="width: 9%"  th:utext="#{allProducts.price}"></span> <span class="my-auto h6"  style="width:8%"  th:utext="#{allProducts.description}"></span>

				</li>
			</ul>
			<ul class="list-group col-9" th:each="product : ${prodList}">
				<li class="list-group-item d-flex justify-content-around">
				<img th:src="${product.image}"><span class="my-auto"
					th:text="${product.productName}"></span> <span class="my-auto"
					th:text="${product.productPrice}"></span> <span
					class="my-auto" th:text="${product.productDescription}"></span></li>
			</ul>
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-end"><span
					class="h6" th:text="'Total : '+${total}"></span></li>
				<li class="list-group-item d-flex justify-content-end"><a
					href="/allDish" type="button" class="btn btn-primary" th:utext="#{bucket.buttom.return}"></a></li>
					<li class="list-group-item d-flex justify-content-end"><a
					href="/login" type="button" class="btn btn-primary" th:utext="#{bucket.buttom.login}"></a></li>
			</ul>
		</div>
	</div>


	<footer class="bg-dark text-center text-white footer-custom"
		style="background-color: black !important;">
		<!-- Grid container -->
		<div class="container p-4">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="svg1" href="https://www.facebook.com/"><img
					src="/imgs/facebook.svg" style="width: 35px; height: 35px;"></a>

				<!-- Twitter -->
				<a class="svg1" href="https://www.instagram.com/"><img
					src="/imgs/instagram.svg" style="width: 35px; height: 35px;"></a>

				<!-- Google -->
				<a class="svg1" href="https://twitter.com/"><img
					src="/imgs/twitter.svg" style="width: 35px; height: 35px;"></a>
			</section>
			<section class="mb-4">
				<a class="navbar-brand" href="main.jsp"> <img
					src="/imgs/footer.jpg" width="500" height="190" alt="">
				</a>
			</section>



		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			&#169; 2021 Copyright:
			<h3>VanTea.ua</h3>
		</div>
	</footer>

</body>
</html>