<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer class="bg-dark text-center text-white footer-custom"
		style="background-color: black !important;">
		<!-- Grid container -->
		<div class="container p-4">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="svg1" href="https://www.facebook.com/"><img
					src="/imgs/facebook.svg" style="width: 35px; height: 35px;"></a>

				<!-- Twitter -->
				<a class="svg1" href="https://www.instagram.com/"><img
					src="/imgs/instagram.svg" style="width: 35px; height: 35px;"></a>

				<!-- Google -->
				<a class="svg1" href="https://twitter.com/"><img
					src="/imgs/twitter.svg" style="width: 35px; height: 35px;"></a>
			</section>
			<section class="mb-4">
				<a class="navbar-brand" href="main.jsp"> <img
					src="/imgs/footer.jpg" width="500" height="190" alt="">
				</a>
			</section>



		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			&#169; 2021 Copyright:
			<h3>VanTea.ua</h3>
		</div>
	</footer>
</body>
</html>